*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}

#lienzo{
	background-image:url(Background.jpg);
	/*background:"white";*/
}
body{

overflow:hidden;
}

#contenedor{
	
	position:relative;
	margin:5vh auto;
	width:1000px;
	height:500px;
}

#ampli{
	display:block;
	position:relative;
	margin:5px 0;
	padding:10px;
	cursor:pointer;
}


