*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}

body{
overflow:hidden;
}

#contenedor{
position:relative;
margin:5vh auto;	
height:2016;
width:3840;
}
#lienzo {
  background-image:url("https://www.xmple.com/wallpaper/graph-paper-purple-white-grid-3840x2160-c2-ffffff-9370db-l2-4-84-a-0-f-20.svg");
}
