*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
background-color:black;
}

body{

overflow:hidden;
position:relative;
	margin:5vh auto;
	width:1000px;
	height:500px;
}
.titulo{
	display: block;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    position:absolute;
    left:15%;

}

#canvas{

	display:block;
	 position:absolute;
    top:80%;


}

